{% extends 'layout.html' %}

{% block content %}
    <div class = "container">
        <header class = "jumbotron">
            <div class = "container">
                <h1>
                    Welcome to the Airbnb page!
                </h1>
                <p>
                    View our most popular Airbnb locations from all over the world 
                </p>
                {% if current_user.is_authenticated %}
                    {% if current_user.accountType == renter %}
                        <p>
                            <a class = "btn btn-primary btn-lg" href = "/">View Your Rented Properties</a>
                        </p>
                    {% elif current_user.accountType == vendor %} 
                        <p>
                            <a class = "btn btn-primary btn-lg" href = "/">Add a new properties</a>
                        </p>
                    {% endif %}
                {% else %}
                    <p> </p>
                {% endif %}
            </div>
        </header>
        
        <div class = "row">
            <div class = "col-lg-12">
                <h4>
                    Our most popular Airbnbs
                </h4>
            </div>
        </div>
        
        <div class = "row text-center" style = "display: flex; flex-wrap: wrap;">
            {% for property in props %}
            
            <form action method = "POST" action = "/rentedProperties">
                <div class="card col-md-3 col-sm-6" style="width: 18rem;">
                        <img class="card-img-top" src= "/static/images/paris.jpg" alt="Card image cap">
                        <div class="card-body">
                        <h5 name = "propertyName" class="card-title">{{property.name}}</h5>
                        <p class="card-text">{{property.propertyType}}</p>
                        <p name = "propertyPrice" class="card-text">{{property.price}}</p>
                            <a href="/rentedProperties" class="btn btn-primary">Rent Now</a>
                        
                        </div>
                </div>
            </form>
            {% endfor %}
        </div>
            
    </div> 
{% endblock content %}